@import '../_vendor/bootstrap/bootstrap-variables';

.nest-header {
    margin-top: 40px;

    .media-object {
        height: 67px;

        @media (min-width: $screen-sm-min) {
            height: 74px;
        }
    }
}

.image-list {
    list-style-type: none;
    padding-left: 0;

    li {
        float: left;
        margin-bottom: $grid-gutter-width / 2;
        margin-right: $grid-gutter-width / 2;
    }

    img {
        max-height: 120px;
    }
}
