extends _layouts/base

append config
    - var title = "Headings Are Hard"
    - var desc = "An example of a poorly structured document"

block content
    .container
        h2 Hashtag craft beer pinterest
        p Kitsch pour-over raw denim leggings pitchfork chillwave vegan hoodie. Pour-over beard blue bottle 8-bit heirloom cliche humblebrag bitters, try-hard forage small batch. Marfa beard offal, intelligentsia twee green juice +1 migas chillwave.
        h4 Brooklyn locavore.
        p Slow-carb schlitz irony truffaut, gentrify beard fap messenger bag hammock meh pinterest occupy ugh thundercats kitsch. Kale chips drinking vinegar gluten-free, hammock bespoke truffaut DIY mumblecore roof party man bun celiac mlkshk echo park cronut ugh. Kinfolk tacos fixie XOXO.
        p Raw denim you probably haven't heard of them quinoa artisan. Hammock flannel trust fund fingerstache chia stumptown, +1 banh mi forage meditation cronut. PBR&amp;B church-key XOXO cornhole craft beer, squid quinoa tumblr trust fund retro. Everyday carry you probably haven't heard of them helvetica, salvia lumbersexual knausgaard paleo drinking vinegar craft beer.
        h3 Yr ennui post-ironic, pabst listicle jean shorts tousled. Biodiesel seitan poutine, sustainable leggings gentrify whatever ennui tacos.
        p Authentic austin green juice everyday carry +1 hammock venmo, paleo organic seitan artisan.
        p Pitchfork try-hard kitsch portland ethical lo-fi. Tattooed shabby chic migas, YOLO readymade swag heirloom chambray pour-over. Sriracha forage brunch gastropub retro kombucha mumblecore, franzen man braid drinking vinegar cardigan man bun. Church-key four loko umami meggings, lomo hashtag cardigan organic offal pour-over. Ethical chartreuse tote bag, truffaut blue bottle health goth migas raw denim venmo. Shoreditch chia DIY chambray literally. Neutra mustache literally slow-carb keffiyeh.
        h1 Tumblr humblebrag organic
        p Gentrify actually squid shabby chic gastropub aesthetic. Tofu skateboard sriracha, literally pabst four dollar toast venmo you probably haven't heard of them chia.
        ul
            li Lumbersexual microdosing bushwick church-key.
            li Fashion axe ugh single-origin coffee yr
            li Hella everyday carry VHS sartorial +1.
            li Drinking vinegar disrupt truffaut
            li Pork belly locavore gluten-free umami yuccie lomo.
        p Freegan everyday carry tumblr, synth swag gluten-free butcher sriracha tattooed actually plaid offal truffaut brooklyn. Gentrify portland four dollar toast master cleanse austin.
