extends _layouts/base

append config
    - var title = "Lorem Ipsum Demo"
    - var desc = "A demo chapter"

block content
    .container
        section(epub:type="frontmatter")
            p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident (#[a(href="#&gid=1&pid=2") Figure 1]), sunt in culpa qui officia deserunt mollit anim #[a(href="#id") id] est laborum.
        section(epub:type="bodymatter")
            section(epub:type="chapter")
                p(epub:type="title") #[span(epub:type="label") Chapter] #[span(epub:type="ordinal") 1] #[span(epub:type="subtitle") The subtitle]
                p #[+keyterm('loremIpsum', 'Lorem Ipsum')] dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim #[+keyterm('id') id] est laborum.
                section(epub:type="subchapter")
                    p(epub:type="title") #[span(epub:type="label") Subsection] #[span(epub:type="ordinal") 1] #[span(epub:type="subtitle") The subsection]
                    +photoswipe('gal01')
                    +photoswipe('gal03')
                    +photoswipe('gal02')
                    +photoswipe('rachelDolezal')
    include _layouts/pswp
