extends _layouts/base

append config
    - var title = "Feature Demo"
    - var desc = "A demo chapter"
    - custom.css = true
    - custom.js = true

block content
    .container
        .row
            .col-md-8.col-md-offset-2
                h1 #[img(src="images/c4-180.png",alt="")] Feature Demo
                ul
                    li #[a(href="#heading-level-2-again") Highlight sections!]
                    li Glyphicons! #[+icon('glyphicons-thumbs-up')]
                    li #[a(href="#&gid=3&pid=nebula-1382") Open a PhotoSwipe figure from a link]
                .toc
                    h2.toc-exclude
                        a(href="#page-contents",data-toggle="collapse",aria-expanded="true",aria-controls="page-contents") Page Contents #[+icon('glyphicons-chevron-down')]
                h2 Heading level 2
                p #[+keyterm('loremIpsum') Lorem ipsum] dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident (#[a(href="#&gid=1&pid=2") Figure 2]), sunt in culpa qui officia deserunt mollit anim id est laborum.
                h3 Heading level 3
                p Bacon ipsum dolor amet sirloin biltong hamburger spare ribs, meatloaf landjaeger fatback. Landjaeger drumstick tenderloin shoulder biltong. Short ribs prosciutto capicola biltong (#[a(href="#&gid=3&pid=baconburger-1382") tri-tip hamburger]). Shoulder rump landjaeger strip steak sirloin short ribs turducken leberkas cow turkey meatball.
                +figure('baconburger', {class: 'feature-left'})
                p Pancetta tri-tip bresaola ham venison picanha. Salami short ribs ball tip jerky ribeye alcatra drumstick beef ribs beef spare ribs shank prosciutto corned beef shankle pork. Doner capicola shoulder ground round. Hamburger bresaola turkey pork loin ham hock. Pork loin spare ribs tri-tip, pancetta tail chuck jowl shoulder pork chop tongue flank. Pork chop tenderloin sirloin turducken brisket, prosciutto cupim beef ribs t-bone ribeye. Shoulder pig rump, pork chop prosciutto tri-tip pork loin.
                p Alcatra picanha fatback shank pig drumstick kevin ball tip. Ribeye sausage bacon tri-tip frankfurter boudin ground round. Shoulder pork chop turkey shankle cow ham hock. Sausage capicola jerky, picanha ribeye rump beef ribs turkey boudin short loin porchetta pork turducken bacon pancetta. Chicken short loin doner beef ribs bresaola cupim flank pork chop filet mignon brisket ham hock rump sausage prosciutto. Beef jerky meatloaf, drumstick meatball bresaola leberkas boudin tail jowl chuck.
                h2 Heading level 2 again
                p Leberkas pork belly capicola, prosciutto sirloin meatloaf frankfurter pancetta tenderloin tongue. Venison drumstick shankle doner picanha jerky pork belly. Alcatra venison ham, tenderloin rump short loin landjaeger leberkas kevin boudin sirloin doner strip steak. Pork loin picanha tongue pork meatball.
                +fullbleed('nebula')
                p Pork loin ham beef ribs ham hock pork short loin. Kevin prosciutto frankfurter tail ball tip flank meatloaf tenderloin drumstick pancetta venison jowl landjaeger. Ground round salami shank, ham hock shankle short ribs tri-tip tenderloin landjaeger. Andouille prosciutto brisket, leberkas sausage ground round spare ribs jerky. Shankle picanha salami tenderloin prosciutto bacon.
                p Drumstick jowl ribeye bacon sirloin swine shankle, meatloaf sausage kielbasa pastrami. Sausage bacon pork loin tenderloin leberkas. Pork hamburger tongue chuck fatback kielbasa. Landjaeger pancetta jerky meatloaf, short ribs shankle sirloin tenderloin leberkas cupim beef ribs short loin flank chicken spare ribs. Short ribs pork loin ham meatloaf, ribeye porchetta turkey tongue venison cupim rump shankle drumstick. Sausage venison spare ribs brisket, pancetta corned beef porchetta bresaola meatball.
                h2 Image Galleries
                +gallery('gal01')
                +gallery('gal02')

    include _layouts/pswp
