extends _layouts/base

append config
    - var metaTitle = "Norton Field Guide To Writing"
    - var title     = metaTitle + " | Chapter 1"
    - var desc      = "Writing in Academic Contexts"
    - var ordinal   = "1"

block stylesheets
    link(rel='stylesheet', href= 'styles/fieldguide4.css')

block scripts
    script(src='scripts/custom/' + 'fieldguide4.js')

block content
    div(xmlns='http://www.w3.org/1999/xhtml', data-role='page')
        //- h3 Wrong first heading
        .container.ui-content(role='main')
            .row
                // SIDE BAR COL
                .naToggle.col-xs-2.side-key
                    ul.left-key
                        li.key-item
                            a(href='Part01.xhtml')
                                span.key-icon.key-icon--asterisk
                                span.key-name academic literacies
                        li.key-item
                            a(href='Part02.xhtml')
                                span.key-icon.key-icon--square
                                span.key-name rhetorical situations
                        li.key-item
                            a(href='Part03.xhtml')
                                span.key-icon.key-icon--triangle
                                span.key-name genres
                        li.key-item
                            a(href='Part04.xhtml')
                                span.key-icon.key-icon--halo
                                span.key-name processes
                        li.key-item
                            a(href='Part05.xhtml')
                                span.key-icon.key-icon--diamond
                                span.key-name strategies
                        li.key-item
                            a(href='Part06.xhtml')
                                span.key-icon.key-icon--circle
                                span.key-name research MLA/APA
                        li.key-item
                            a(href='Part07.xhtml')
                                span.key-icon.key-icon--box
                                span.key-name media / design
                        li.key-item
                            a(href='Part08.xhtml')
                                span.key-icon.key-icon--hourglass
                                span.key-name readings
                        li.key-item
                            a(href='Part09.xhtml')
                                span.key-icon.key-icon--chevron
                                span.key-name handbook
                main.naToggle.col-xs-10.col-md-8
                    p.COI
                        span#page_3(xmlns:epub='http://www.idpf.org/2007/ops', epub:type='pagebreak')
                        +icon('glyphicons-asterisk', 'academic literacies')
                    h1.CT(epub:type="title") Writing in Academic Contexts #[span.CN(epub:type="ordinal") 1]
                    .naM2c.hidden-xs.hidden-sm.hidden-md.hidden-lg.pull-right
                        span.naelFullC
                            //- img(src='img/images/green-triangle.png') #[a(href='Chapter13.xhtml#page_156') 156–82]  #[a(href='Chapter12.xhtml#page_129') 129–55]  #[a(href='Chapter20.xhtml#page_235') 235–42]
                    p.TX1
                        | Write an essay arguing whether genes or environment do more to determine people’s intelligence. Research and write a report on the environmental effects of electricity-generating windmills. Work with a team to write a proposal and create a multimedia presentation for a sales campaign. Whatever you’re studying, you’re surely going to be doing a lot of writing, in classes from various disciplines—the above assignments, for example, are from psychology, environmental science, and marketing. Academic writing can serve a number of different purposes—to #[+keyterm('arguing', 'genre') argue] for what you think about a topic and why, to #[+keyterm('reporting', 'genre') report] on what’s known about an issue, to #[+keyterm('proposal', 'genre') propose a solution] for some problem, and so on. Whatever your topics or purposes, all academic writing follows certain conventions, ones you’ll need to master in order to join the conversations going on across campus. This chapter describes what’s expected of academic writing—and of academic writers.
                    h2#sec_1.A What’s Expected of Academic Writing
                    h3.AB Evidence that you’ve considered the subject thoughtfully.
                    p Whether you’re composing a report, an argument, or some other kind of writing, you need to demonstrate that you’ve thought seriously about the topic and done any necessary research. You can use various ways to show that you’ve considered the subject carefully, from citing authoritative sources to incorporating information you learned in class to pointing out connections among ideas.
                    h3.AB
                        span#page_4(xmlns:epub='http://www.idpf.org/2007/ops', epub:type='pagebreak') An indication of why your topic matters.
                    p You need to help your readers understand why your topic is worth exploring and why your writing is worth reading. Even if you are writing in response to an assigned topic, you can better make your point and achieve your purpose by showing your readers why your topic is important and why they should care about it. For example, in “Throwing Like a Girl,” James Fallows explains why his topic, the differences between the ways men and women throw a baseball, is worth writing about:
                    blockquote.EX
                        | The phrase “throwing like a girl” has become an embattled and offensive one. Feminists smart at its implication that to do something “like a girl” is to do it the wrong way. Recently, on the heels of the O. J. Simpson case, a book appeared in which the phrase was used to help explain why male athletes, especially football players, were involved in so many assaults against women. Having been trained (like most American boys) to dread the accusation of doing anything “like a girl,” athletes were said to grow into the assumption that women were valueless, and natural prey.
                    //- h6.errorHead Terrible Heading
                    p.TX1
                        | By explaining that the topic matters because it reflects attitudes about gender that have potentially serious consequences, he gives readers reason to read on about the mechanics of “throwing like a girl.”
                    h3.AB A response to what others have said.
                    p Whatever your topic, it’s unlikely that you’ll be the first one to write about it. And if, as this chapter assumes, all academic writing is part of a larger conversation, you are in a way adding your own voice to that conversation. One good way of doing that is to present your ideas as a response to what others have said about your topic—to begin by quoting, paraphrasing, or summarizing what others have said and then to agree, disagree, or both.
                    p.TX
                        | For example, in an essay arguing that organ sales will save lives, Joanna MacKay says, “Some agree with Pope John Paul II that the selling of organs is morally wrong and violates ‘the dignity of the human person.’ ” But she then responds—and disagrees, arguing that “the morals we hold are not absolute truths” and that “peasants of third world countries” might not agree with the pope.
                    .naM2c.hidden-xs.hidden-sm.hidden-md.hidden-lg.pull-right
                        span.naelFullE
                            //- img(style='width:13px;float:left;padding-top:2px;', src='img/images/orange-diamond.png') #[a(href='Chapter34.xhtml#page_346') 346–47]
                    h3.AB
                        span#page_5(xmlns:epub='http://www.idpf.org/2007/ops', epub:type='pagebreak') A clear, appropriately qualified thesis.
                    p When you write in an academic context, you’re expected to state your main point explicitly, often in a #[+keyterm('thesis', 'strategies') thesis] statement. MIT student Joanna MacKay states her thesis clearly in her essay “Organ Sales Will Save Lives”: “Governments should not ban the sale of human organs; they should regulate it.” Often you’ll need to #[+keyterm('qualify', 'strategies') qualify] your thesis statement to acknowledge that the subject is complicated and there may be more than one way of seeing it or exceptions to the generalization you’re making about it. Here, for example, is a qualified thesis, from an essay evaluating the movie #[em Juno] by Ali Heinkamp, a student at Wright State University: “Although the situations #[em Juno’s] characters find themselves in and their dialogue may be criticized as unrealistic, the film, written by Diablo Cody and directed by Jason Reitman, successfully portrays the emotions of a teen being shoved into maturity way too fast.” Heinkamp makes a claim that #[em Juno] achieves its main goal, while acknowledging at the beginning of the sentence that the film may be flawed.
                    h4.AB Good reasons supported by evidence.
                    p You need to provide good reasons for your thesis and evidence to support those reasons. For example, Joanna MacKay offers several reasons why sales of human kidneys should be legalized: there is a surplus of kidneys, the risk to the donor is not great, and legalization would allow the trade in kidneys to be regulated. Evidence to support your reasons sometimes comes from your own experience but more often from published research and scholarship, research you do yourself or firsthand accounts by others.
                    p.TX
                        | Compared with other kinds of writing, academic writing is generally expected to be more objective and less emotional. You may find #[em Romeo and Juliet] deeply moving or cry when you watch #[em Titanic]&#8212;but when you write about the play or the film for a class, you must do so using evidence from the text to support your thesis. You may find someone’s ideas deeply offensive, but you should respond to them with reason rather than with emotional appeals or personal attacks.
                    h4.AB Acknowledgment of multiple perspectives.
                    p Debates and arguments in popular media are often framed in “pro/con” terms, as if there were only
                        span#page_6(xmlns:epub='http://www.idpf.org/2007/ops', epub:type='pagebreak')
                        | two sides to any given issue. Once you begin seriously studying a topic, though, you’re likely to find that there are several sides and that each of them deserves serious consideration. In your academic writing, you need to represent fairly the range of perspectives on your topic—to explore three, four, or more positions on it as you research and write. In her report, “Does Texting Affect Writing,” Marywood University student Michaela Cullington, for example, examines texting from several points of view: teachers’ impressions of the influence of texting on student writing, the results of several research studies, and her own survey research.
                    h5.AB A confident, authoritative stance.
                    p If one goal of academic writing is to contribute to a larger conversation, your tone should convey confidence and establish your authority to write about your subject. Ways to achieve such a tone include using active verbs (“X claims” rather than “it seems”), avoiding such phrases as “in my opinion” and “I think,” and writing in a straightforward, direct style. Your writing should send the message that you’ve done the research, analysis, and thinking and know what you’re talking about. For example, here is the final paragraph of Michaela Cullington’s essay on texting and writing:
                    blockquote.EX
                        | On the basis of my own research, expert research, and personal observations, I can confidently state that texting is not interfering with students’ use of standard written English and has no effect on their writing abilities in general. It is interesting to look at the dynamics of the arguments over these issues. Teachers and parents who claim that they are seeing a decline in the writing abilities of their students and children mainly support the negative-impact argument. Other teachers and researchers suggest that texting provides a way for teens to practice writing in a casual setting and thus helps prepare them to write formally. Experts and students themselves, however, report that they see no effect, positive or negative. Anecdotal experiences should not overshadow the actual evidence.
                    p.TX1
                        | Cullington’s use of simple, declarative sentences (“Other teachers and researchers suggest&hellip;”; “Anecdotal experiences should not overshadow&hellip;”) and her straightforward summary of the arguments surrounding texting,
                        span#page_7(xmlns:epub='http://www.idpf.org/2007/ops', epub:type='pagebreak')
                        | along with her strong, unequivocal ending (“texting is not interfering with students’ use of standard written English”), lend her writing a confident tone. Her stance sends the message that she’s done the research and knows what she’s talking about.
                    h3.AB Carefully documented sources.
                    p Clearly acknowledging sources and documenting them carefully and correctly is a basic requirement of academic writing. When you use the words or ideas of others—including visuals, video, or audio—those sources must be documented in the text and in a works cited or references list at the end. (If you’re writing something that will appear online, you may also refer readers to your sources by using hyperlinks in the text; ask your instructor if you need to include a list of references or works cited as well.)
                    h3.AB Careful attention to correctness.
                    p Whether you’re writing something formal or informal, in an essay or an email, you should always write in complete sentences, use appropriate capitalization and punctuation, and check that your spelling is correct. In general, academic writing is no place for colloquial language, slang, or texting abbreviations. If you’re quoting someone, you can reproduce that person’s writing or speech exactly, but in your own writing you try hard to be correct—and always proofread carefully.
                    h2#sec_2.A What’s Expected of College Writers: The WPA Outcomes
                    p.TX1
                        | Writing is not a multiple-choice test; it doesn’t have right and wrong answers that are easily graded. Instead, your readers, whether they’re teachers or anyone else, are likely to read your writing with various things in mind: does it make sense, does it meet the demands of the assignment, is the grammar correct, to name just a few of the things readers may look for. Different readers may notice different things, so sometimes it may seem to you that their response—and your grade—is unpredictable. It should be good to know, then, that writing teachers across the nation have come to some agreement on certain “outcomes,” what college students
                        span#page_8(xmlns:epub='http://www.idpf.org/2007/ops', epub:type='pagebreak')
                        | should know and be able to do by the time you finish a first-year writing course. These outcomes have been defined by the National Council of Writing Program Administrators (WPA). Here’s a brief summary of these outcomes and how
                        span.Italic The Norton Field Guide
                        |  can help you meet them.
                    h3.B Knowledge of Rhetoric
                    ul.BLA
                        li #[strong #[em Understand the rhetorical situation of texts that you read and write]]. See #[a(href='Chapter05.xhtml') Chapters 5] – #[a(href='Chapter09.xhtml') 9] and the many prompts for Considering the Rhetorical Situation throughout the book.
                        li #[strong #[em Read and write texts in a number of different genres and understand how your purpose may influence your writing]]. See #[a(href='Chapter10.xhtml') Chapters 10] – #[a(href='Chapter22.xhtml') 22] for guidelines on writing in thirteen genres, #[a(href='Chapter23.xhtml') Chapter 23] - #[a(href='Chapter24.xhtml') Chapter 24] for help choosing genres when you need to.
                        li #[strong #[em Adjust your voice, tone, level of formality, design, and medium as is necessary and appropriate]]. See #[a(href='Chapter08.xhtml') Chapter 8] on stance and tone and  #[a(href='Chapter09.xhtml') Chapter 9] for help thinking about medium
                        li #[strong #[em Choose the media that will best suit your audience, purpose, and the rest of your rhetorical situation]]. See #[a(href='Chapter09.xhtml') Chapters 9] and  #[a(href='Chapter54.xhtml') 54].
                    h3.B Critical Thinking, Reading, and Composing
                    ul.BLA
                        li #[strong #[em Read and write to inquire, learn, think critically, and communicate]]. See #[a(href='Chapter01.xhtml') Chapters 1] and #[a(href='Chapter02.xhtml') 2] on academic writing and reading, and #[a(href='Chapter25.xhtml') Chapter 25] on writing as inquiry. #[a(href='Chapter10.xhtml') Chapters 10] – #[a(href='Chapter13.xhtml') 13] provide genre-specific prompts to help you think critically about a draft.
                    ul.BLA
                        li #[strong #[em Read for content, argumentative strategies, and rhetorical effectiveness]]. #[a(href='Chapter07.xhtml') Chapter 7] provides guidance on reading texts with a critical eye, #[a(href='Chapter11.xhtml') Chapter 11] teaches how to analyze a text, and #[a(href='Chapter47.xhtml') Chapter 47] shows how to evaluate sources.
                    ul.BLA
                        li #[strong #[em Find and evaluate popular and scholarly sources]]. #[a(href='Chapter46.xhtml') Chapter 46] teaches how to use databases and other methods to find sources, and #[a(href='Chapter47.xhtml') Chapter 47] shows how to evaluate the sources you find.
                    ul.BLA
                        span#page_9(xmlns:epub='http://www.idpf.org/2007/ops', epub:type='pagebreak')
                        li #[strong #[em Use sources in various ways to support your ideas]]. #[a(href='Chapter36.xhtml') Chapter 36] suggests strategies for supporting your ideas, and #[a(href='Chapter49.xhtml') Chapter 49] shows how to incorporate ideas from sources into your writing to support your ideas.
                    h3.B Processes
                    ul.BLA
                        li #[strong #[em Use writing processes to compose texts and explore ideas in various media]]. #[a(href='Part04.xhtml') Part 4] covers all stages of the #[span#processes processes] writers use, from generating ideas and text to drafting to getting response and revising to editing and proofreading. Each of the thirteen genre chapters ( #[a(href='Chapter10.xhtml') 10] – #[a(href='Chapter22.xhtml') 22] ) includes a guide that leads you through the process of writing in that genre.
                    ul.BLA
                        li #[strong #[em Collaborate with others on your own writing and on group tasks]]. #[a(href='Chapter26.xhtml') Chapter 26] offers guidelines for working with others, #[a(href='Chapter30.xhtml') Chapter 30] provides general prompts for getting and giving response, and #[a(href='Chapter10.xhtml') Chapters 10] – #[a(href='Chapter13.xhtml') 13] provide genre-specific prompts for reading a draft with a critical eye.
                    ul.BLA
                        li #[strong #[em Reflect on your own writing #[span#processes-1 processes]]]. #[a(href='Chapter10.xhtml') Chapters 10] – #[a(href='Chapter13.xhtml') 13] provide genre-specific questions to help you take stock of your work, and #[a(href='Chapter29.xhtml') Chapter 29] offers guidance in thinking about your own writing process. #[a(href='Chapter32.xhtml') Chapter 32] provides prompts to help you reflect on a writing portfolio.
                    h3.B Knowledge of Conventions
                    ul.BLA
                        li #[strong #[em Use correct grammar, punctuation, and spelling]]. #[a(href='Chapter31.xhtml') Chapter 31] provides tips to help you edit and proofread for your writing. #[a(href='Chapter10.xhtml') Chapters 10] – #[a(href='Chapter13.xhtml') 13] offer genre-specific advice for editing and proofreading.
                    ul.BLA
                        li #[strong #[em Understand and use genre conventions and formats in your writing]]. #[a(href='Chapter07.xhtml') Chapter 7] provides an overview of genres and how to think about them. #[a(href='Part03.xhtml') Part 3] covers thirteen genres, describing the key features and conventions of each one.
                    ul.BLA
                        li #[strong #[em Understand intellectual property and document sources appropriately]]. #[a(href='Chapter50.xhtml') Chapter 50] offers guidance on the ethical use of sources, #[a(href='Chapter51.xhtml') Chapter 51] provides an overview of documentation styles, and #[a(href='Chapter52.xhtml') Chapters 52] and #[a(href='Chapter53.xhtml') 53] provide templates for documenting in MLA and APA styles.
                nav.naToggle.hidden-xs.hidden-sm.col-md-2.table-of-contents
