extends _layouts/base

append config

block content
    .container
        main
            h1 The Norton Ebook Standards Toolkit (nest) #[span.small #[code.version v0.9.0]]
            figure
                img.logo(src="images/c4-180.png")

            section
                h2 Features
                ul
                    li Take advantage of #[a(href="https://github.com/pugjs/pug") Pug] templating (formerly #[a(href="http://jade-lang.com/") Jade]).
                    li Write CSS with #[a(href="http://sass-lang.com/") SASS].
                    li Utilize ES6/2015 JavaScript with #[a(href="https://babeljs.io/") Babel].
                    li Rapidly develop, build, and test with #[a(href="http://gulpjs.com/") Gulp].
                h2 Front-End Libraries
                ul
                    li #[a(href="https://github.com/twbs/bootstrap-sass/") Bootstrap-Sass] #[code.version v3.3.7]
                        ul
                            li #[a(href="https://jquery.com/") jQuery] #[code.version v3.1.0]
                    li #[a(href="http://photoswipe.com/") PhotoWwipe] #[code.version v4.1.1]

            section
                h2 Demo Chapters
                ul
                    li #[a(href="fieldguide4.xhtml") FIELDGUIDE4]
                    li #[a(href="realworld5.xhtml") REALWORLD5]
                    li #[a(href="demo.xhtml") DEMO]
                    li #[a(href="badheadings.xhtml") BAD HEADINGS]
