extends _layouts/base

append config
    - custom.css = true

block content
    .container
        header.nest-header
            .media
                figure.media-left
                    img.media-object(src="images/c4-180.png",alt="")
                .media-body
                    h1.media-heading nest
                    p.lead The Norton Ebook Standards Toolkit
        main
            h2 Demos
            ul.image-list
                //- li
                    figure
                        a(href="fieldguide4.xhtml",disabled)
                            img.img-responsive(src="images/9780393264388_300.jpg")
                            figcaption.sr-only FIELDGUIDE4
                //- li
                    figure
                        a(href="realworld5.xhtml",disabled)
                            img.img-responsive(src="images/9780393264302_198.jpg")
                            figcaption.sr-only REALWORLD5
                //- li
                    figure
                        a(href="essentialsofsoc6.xhtml",disabled)
                            img.img-responsive(src="images/9780393937459_198.jpg")
                            figcaption.sr-only ESSENTIALSOFSOC6
                li
                    a(href="demo.xhtml") FEATURE DEMO
                li
                    a(href="badheadings.xhtml") BAD HEADINGS
