mixin gallery(galleryID, options)
    - var isGallery = true
    - var root = 'pswp-gallery'
    each gallery in book.data._galleries
        if (gallery.id === galleryID)
            figure(class=root,id=galleryID,itemscope,itemtype="http://schema.org/ImageGallery")
                if (typeof gallery.title !== 'undefined')
                    figcaption(class=`${root}__title`)= gallery.title
                each imageID in gallery.images
                    each figure in book.data._images
                        if (figure.id === imageID)
                            include ../_layouts/figure

mixin figure(imageID, options)
    - var isGallery = false
    - var root = 'pswp-figure'
    each figure in book.data._images
        if (figure.id === imageID)
            include ../_layouts/figure

mixin fullbleed(imageID, options)
    - var isGallery = false
    - var root = 'fullbleed'
    each figure in book.data._images
        if (figure.id === imageID)
            include ../_layouts/figure
