mixin keyterm(termID, modifier)
    each key in book.data.keyterms
        if (key.id === termID)
            - var root = 'keyterm'
            - var modified = (typeof modifier === "string") ? `${root}--${modifier}` : ""
            - var classes = [ root, modified ]
            a(tabindex=0,role="button",id=termID,class=classes)
                if block
                    block
                else
                    key.term
