// Bootstrap
@import '_vendor/bootstrap/bootstrap-custom';

// PhotoSwipe
@import 'node_modules/photoswipe/src/css/main';
@import 'node_modules/photoswipe/src/css/default-skin/default-skin';

// Custom
@import '_components/helpers';
@import '_components/animate';
@import '_components/photoswipe-ui';
@import '_components/gallery';
@import '_components/target';
@import '_components/keyterm';

body {
    -webkit-font-smoothing: antialiased;
}
