font-face {
    font-family: "GenBas";
    src: url('../fonts/essentialsofsoc6/GenBasB.eot');
    src: url('../fonts/essentialsofsoc6/GenBasB.eot?#iefix') format('embedded-opentype'), url('../fonts/essentialsofsoc6/GenBasB.otf') format('opentype'), url('../fonts/essentialsofsoc6/GenBasB.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: "GenBas";
    src: url('../fonts/essentialsofsoc6/GenBasBI.eot');
    src: url('../fonts/essentialsofsoc6/GenBasBI.eot?#iefix') format('embedded-opentype'), url('../fonts/essentialsofsoc6/GenBasBI.otf') format('opentype'), url('../fonts/essentialsofsoc6/GenBasBI.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}
@font-face {
    font-family: "GenBas";
    src: url('../fonts/essentialsofsoc6/GenBasI.eot');
    src: url('../fonts/essentialsofsoc6/GenBasI.eot?#iefix') format('embedded-opentype'), url('../fonts/essentialsofsoc6/GenBasI.otf') format('opentype'), url('../fonts/essentialsofsoc6/GenBasI.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}
@font-face {
    font-family: "GenBas";
    src: url('../fonts/essentialsofsoc6/GenBasR.eot');
    src: url('../fonts/essentialsofsoc6/GenBasR.eot?#iefix') format('embedded-opentype'), url('../fonts/essentialsofsoc6/GenBasR.otf') format('opentype'), url('../fonts/essentialsofsoc6/GenBasR.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "Roboto-Black";
    src: url('../fonts/essentialsofsoc6/Roboto-Black.eot');
    src: url('../fonts/essentialsofsoc6/Roboto-Black.eot?#iefix') format('embedded-opentype'), url('../fonts/essentialsofsoc6/Roboto-Black.otf') format('opentype'), url('../fonts/essentialsofsoc6/Roboto-Black.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "Roboto-Black";
    src: url('../fonts/essentialsofsoc6/Roboto-BlackItalic.eot');
    src: url('../fonts/essentialsofsoc6/Roboto-BlackItalic.eot?#iefix') format('embedded-opentype'), url('../fonts/essentialsofsoc6/Roboto-BlackItalic.otf') format('opentype'), url('../fonts/essentialsofsoc6/Roboto-BlackItalic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}
@font-face {
    font-family: "Roboto";
    src: url('../fonts/essentialsofsoc6/Roboto-Bold.eot');
    src: url('../fonts/essentialsofsoc6/Roboto-Bold.eot?#iefix') format('embedded-opentype'), url('../fonts/essentialsofsoc6/Roboto-Bold.otf') format('opentype'), url('../fonts/essentialsofsoc6/Roboto-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: "Roboto";
    src: url('../fonts/essentialsofsoc6/Roboto-BoldItalic.eot');
    src: url('../fonts/essentialsofsoc6/Roboto-BoldItalic.eot?#iefix') format('embedded-opentype'), url('../fonts/essentialsofsoc6/Roboto-BoldItalic.otf') format('opentype'), url('../fonts/essentialsofsoc6/Roboto-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}
@font-face {
    font-family: "Roboto";
    src: url('../fonts/essentialsofsoc6/Roboto-Italic.eot');
    src: url('../fonts/essentialsofsoc6/Roboto-Italic.eot?#iefix') format('embedded-opentype'), url('../fonts/essentialsofsoc6/Roboto-Italic.otf') format('opentype'), url('../fonts/essentialsofsoc6/Roboto-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}
@font-face {
    font-family: "Roboto-Light";
    src: url('../fonts/essentialsofsoc6/Roboto-Light.eot');
    src: url('../fonts/essentialsofsoc6/Roboto-Light.eot?#iefix') format('embedded-opentype'), url('../fonts/essentialsofsoc6/Roboto-Light.otf') format('opentype'), url('../fonts/essentialsofsoc6/Roboto-Light.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "Roboto-Light";
    src: url('../fonts/essentialsofsoc6/Roboto-LightItalic.eot');
    src: url('../fonts/essentialsofsoc6/Roboto-LightItalic.eot?#iefix') format('embedded-opentype'), url('../fonts/essentialsofsoc6/Roboto-LightItalic.otf') format('opentype'), url('../fonts/essentialsofsoc6/Roboto-LightItalic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}
@font-face {
    font-family: "Roboto-Medium";
    src: url('../fonts/essentialsofsoc6/Roboto-Medium.eot');
    src: url('../fonts/essentialsofsoc6/Roboto-Medium.eot?#iefix') format('embedded-opentype'), url('../fonts/essentialsofsoc6/Roboto-Medium.otf') format('opentype'), url('../fonts/essentialsofsoc6/Roboto-Medium.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "Roboto-Medium";
    src: url('../fonts/essentialsofsoc6/Roboto-MediumItalic.eot');
    src: url('../fonts/essentialsofsoc6/Roboto-MediumItalic.eot?#iefix') format('embedded-opentype'), url('../fonts/essentialsofsoc6/Roboto-MediumItalic.otf') format('opentype'), url('../fonts/essentialsofsoc6/Roboto-MediumItalic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}
@font-face {
    font-family: "Roboto";
    src: url('../fonts/essentialsofsoc6/Roboto-Regular.eot');
    src: url('../fonts/essentialsofsoc6/Roboto-Regular.eot?#iefix') format('embedded-opentype'), url('../fonts/essentialsofsoc6/Roboto-Regular.otf') format('opentype'), url('../fonts/essentialsofsoc6/Roboto-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "Roboto-Thin";
    src: url('../fonts/essentialsofsoc6/Roboto-Thin.eot');
    src: url('../fonts/essentialsofsoc6/Roboto-Thin.eot?#iefix') format('embedded-opentype'), url('../fonts/essentialsofsoc6/Roboto-Thin.otf') format('opentype'), url('../fonts/essentialsofsoc6/Roboto-Thin.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "Roboto-Thin";
    src: url('../fonts/essentialsofsoc6/Roboto-ThinItalic.eot');
    src: url('../fonts/essentialsofsoc6/Roboto-ThinItalic.eot?#iefix') format('embedded-opentype'), url('../fonts/essentialsofsoc6/Roboto-ThinItalic.otf') format('opentype'), url('../fonts/essentialsofsoc6/Roboto-ThinItalic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}
@font-face {
    font-family: "NortonCollegeLogosFive";
    src: url('../fonts/essentialsofsoc6/NortonCollegeLogosFive.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

$brand-primary: #1db6ea;

/*Chapter 1*/
body {
    -webkit-font-smoothing: antialiased;
    color: #333;
}
section {
    margin: 0;
    padding: 0;
}
a {
    text-decoration: none;
    color: inherit;
}
a.link {
    text-decoration: underline;
    color: blue;
}
.img100 {
    max-width: 100%;
    max-height: auto;
}
.image {
    margin: 30px 0 10px;
}
.image {
    margin: 30px 0 10px;
}
.image1 {
    margin: 0 0 10px;
}
.titleimage {
    padding: 60px 0 0;
}
.title {
    width: 100%;
    padding-bottom: 20px;
}
.blue-back {
    background: #eb2142;
}
.bold {
    font-weight: bold;
}
.italicg {
    font-family: "GenBas";
    font-style: italic;
}
.italic {
    font-style: italic;
}
.GH {
    font-family: "Roboto-Black";
    font-size: 17px;
    text-align: left;
    margin: 18px 0 0;
    line-height: 160%;
    color: #00bbcd;
}
.IH {
    font-family: "Roboto-Black";
    font-size: 17px;
    text-align: left;
    margin: 18px 0 0;
    line-height: 160%;
    color: #333399;
}
.BM-P {
    background-color: #b2267b;
    margin: 0 0 30px;
}
.BIG-PIC {
    background-color: #333399;
    margin: 0 0 30px;
}
.BIG-PIC1 {
    background-color: #e6e6e6;
    margin: 0 0 30px;
}
.BM-DB {
    background-color: #4c338f;
    margin: 0;
}
.BM-SB {
    background-color: #1db6ea;
    margin: 0;
}
.BM-SG {
    background-color: #e6e6e6;
    margin: 0 0 120px;
}
.BM-SW {
    background-color: #ffffff;
    margin: 0;
    padding: 60px 0 0;
}
.BM-G {
    background-color: #00bbcd;
    margin: 0 0 30px;
}
.BM-I {
    background-color: #333399;
    margin: 0 0 30px;
}
.BM-B {
    background-color: #1c5baa;
    margin: 0 0 30px;
}
.BM-C {
    background-color: #f27c60;
    margin: 0 0 30px;
}
.BM-Con {
    background-color: #65318f;
    margin: 0 0 30px;
}
.FMH {
    font-family: "Roboto-Light";
    font-size: 80px;
    text-align: left;
    margin: 0;
    padding: 145px 0 30px;
    line-height: 160%;
    color: #ffffff;
}
.EOC-H1 {
    font-family: "Roboto-Light";
    font-size: 40px;
    text-align: left;
    margin: 0;
    padding: 25px 0 5px;
    line-height: 160%;
    color: #ffffff;
}
.EOC-CN {
    font-family: "Roboto";
    font-size: 20px;
    text-align: left;
    font-weight: bold;
    margin: 0;
    padding: 5px 0 15px;
    line-height: 160%;
    color: #ffffff;
}
.EOC-table-head {
    font-family: "Roboto";
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    margin: 0;
    padding: 5px 0 15px;
    color: #333399;
}
.BQT {
    font-family: "Roboto";
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    margin: 0;
    padding: 5px 0 15px;
    color: #333399;
}
.WIC-orange {
    font-family: "Roboto-Light";
    font-size: 16px;
    text-align: left;
    margin: 0;
    padding: 5px 10px;
    color: #000000;
}
.Table-Row-pink {
    font-family: "Roboto-Light";
    font-size: 16px;
    text-align: left;
    margin: 0;
    padding: 5px 10px;
    color: #000000;
}
.Table-Row-pink1 {
    font-family: "Roboto-Light";
    font-size: 16px;
    vertical-align: top;
    padding-top: 0;
    padding-left: 8px;
    padding-right: 28px;
    text-align: left;
    margin: 0;
    color: #000000;
}
.TTK-light-purple {
    font-family: "Roboto-Light";
    font-size: 16px;
    text-align: left;
    margin: 0;
    padding: 5px 10px;
    color: #000000;
}
.Table-dark-purple {
    font-family: "Roboto-Light";
    font-size: 16px;
    text-align: left;
    margin: 0;
    padding: 5px 10px;
    color: #000000;
}
.Table-cyan {
    font-family: "Roboto-Light";
    font-size: 16px;
    text-align: left;
    margin: 0;
    padding: 5px 10px;
    color: #000000;
}
.Table-Teal {
    font-family: "Roboto-Light";
    font-size: 16px;
    text-align: left;
    margin: 0;
    padding: 5px 10px;
    color: #000000;
}
.EOC-table-text {
    font-family: "Roboto-Light";
    font-size: 16px;
    text-align: left;
    margin: 0;
    color: #000000;
}
.EOC-table-NL {
    font-family: "Roboto-Light";
    font-size: 16px;
    text-align: left;
    text-indent: -18px;
    margin: 0 0 0 20px;
    color: #000000;
}
.EOC-H3 {
    font-family: "Roboto";
    font-size: 20px;
    text-align: left;
    margin: 0;
    padding: 5px 0 15px;
    line-height: 160%;
    font-weight: normal;
    font-style: normal;
    color: #333399;
}
.EOC-NL {
    font-family: "Roboto-Light";
    font-size: 16px;
    text-align: left;
    margin: 0 0 0 22px;
    padding: 5px 0 15px;
    line-height: 150%;
    font-weight: normal;
    font-style: normal;
    color: #000000;
}
.EOC-NL li {
    font-family: "Roboto-Light";
    text-align: left;
    padding: 5px 0;
    color: #000000;
}
.CFMH {
    font-family: "Roboto";
    font-size: 20px;
    text-align: left;
    margin: 0 0 20px;
    line-height: 160%;
    font-weight: bold;
    color: #bababa;
}
.CDLB {
    font-family: "Roboto";
    font-size: 20px;
    text-align: left;
    margin: 1px 0 0;
    font-weight: bold;
    color: #808285;
}
.CBMHA {
    font-family: "Roboto";
    font-size: 20px;
    text-align: left;
    margin: 15px 0 0;
    font-weight: bold;
    color: #bababa;
}
.CBMHB {
    font-family: "Roboto";
    font-size: 20px;
    text-align: left;
    margin: 5px 0 0;
    font-weight: bold;
    color: #bababa;
}
.CCNTP {
    font-family: "GenBas";
    font-size: 25px;
    text-align: left;
    margin: 30px 0 0;
    font-weight: bold;
    font-style: italic;
    color: #65318f;
}
.CH1 {
    font-family: "Roboto";
    font-size: 20px;
    text-align: left;
    margin: 15px 0 0;
    font-weight: bold;
    color: #000000;
}
.CH1-top {
    font-family: "Roboto";
    font-size: 20px;
    text-align: left;
    margin: 10px 0 0;
    font-weight: bold;
    color: #000000;
}
.CH2 {
    font-family: "Roboto";
    font-size: 16px;
    text-align: left;
    margin: 10px 0 0;
    color: #000000;
}
.CH2-top {
    font-family: "Roboto";
    font-size: 16px;
    text-align: left;
    margin: 0;
    color: #000000;
}
.GT {
    font-family: "GenBas";
    font-size: 15px;
    text-align: left;
    margin: 0;
    line-height: 160%;
    font-weight: bold;
}
.CR {
    font-family: "GenBas";
    font-size: 15px;
    text-align: left;
    margin: 10px 0 0;
    text-indent: 0;
    line-height: 160%;
}
.GD {
    font-family: "GenBas";
    font-size: 15px;
    text-align: left;
    margin: 0 0 0 20px;
    text-indent: -20px;
    line-height: 160%;
}
.FMCO {
    font-family: "GenBas";
    font-size: 16px;
    text-align: justify;
    margin: 0;
    text-indent: 0;
    line-height: 160%;
}
.DC {
    float: left;
    margin: 1em 0 0;
    padding-right: 20px;
    height: auto;
}
.FMH1 {
    font-family: "GenBas";
    font-size: 23px;
    text-align: left;
    margin: 0;
    padding: 25px 0 0;
    line-height: 160%;
    color: #b2267b;
    font-weight: bold;
    font-style: italic;
}
.TX1 {
    font-family: "GenBas";
    font-size: 16px;
    text-align: justify;
    margin: 0;
    text-indent: 0;
    line-height: 160%;
}
.TX {
    font-family: "GenBas";
    font-size: 16px;
    text-align: justify;
    margin: 0;
    text-indent: 15px;
    line-height: 160%;
}
.TXH2 {
    font-family: "GenBas";
    font-size: 16px;
    text-align: justify;
    margin: 5px 0 0;
    text-indent: 0;
    line-height: 160%;
}
.H4R {
    font-family: "Roboto";
    margin-right: 10px;
    font-weight: bold;
}
ul.BL li {
    list-style-type: square;
    font-family: "GenBas";
    font-size: 16px;
    text-align: left;
    margin: 0;
    text-indent: 0;
    line-height: 160%;
}
ul.BL1 li {
    font-family: "GenBas";
    font-size: 16px;
    text-align: left;
    margin: 0 0 0 -10px;
    text-indent: 0;
    line-height: 160%;
    list-style-type: square;
}
ol.NL li {
    font-family: "GenBas";
    font-size: 16px;
    text-align: justify;
    margin: 0;
    text-indent: 0;
    line-height: 160%;
    color: #1db6ea;
}
.UL {
    font-family: "Roboto";
    font-size: 15px;
    text-align: left;
    margin: 0 10px 0 0;
    text-indent: 0;
    line-height: 160%;
}
.right {
    font-family: "GenBas";
    font-size: 16px;
    text-align: right;
    margin: 10px 0 0;
    text-indent: 0;
    line-height: 160%;
}
.ITX {
    font-family: "GenBas";
    font-size: 15px;
    text-align: left;
    margin: 0 0 0 20px;
    text-indent: -20px;
    line-height: 160%;
}
.ITXS {
    font-family: "GenBas";
    font-size: 15px;
    text-align: left;
    margin: 0 0 0 35px;
    text-indent: -20px;
    line-height: 160%;
}
.BIBTX {
    font-family: "GenBas";
    font-size: 15px;
    text-align: left;
    margin: 0 0 0 20px;
    text-indent: -20px;
    line-height: 160%;
}
.CHT {
    margin: 115px 0 0;
    width: 100%;
}
.CHI {
    margin: 0;
}
.CN {
    font-family: "Roboto-black";
    font-size: 120px;
    text-align: left;
    margin: 0;
    text-indent: 0;
    line-height: 160%;
    color: #1db6ea;
}
.CT {
    font-family: "Roboto-Light";
    font-size: 46px;
    text-align: left;
    margin: 0 0 33px;
    text-indent: 0;
    line-height: 160%;
    color: #fff;
}
.CHCAP {
    font-family: "Roboto";
    font-size: 16px;
    text-align: left;
    margin: 0;
    text-indent: 0;
    line-height: 160%;
    color: #fff;
}
.COH {
    font-family: "Roboto-Black";
    font-size: 22px;
    text-align: left;
    margin: 0;
    text-indent: 0;
    line-height: 160%;
    color: #333399;
}
.line {
    margin: 5px 0 0;
    width: 90px;
    height: auto;
}
.COH2 {
    font-family: "Roboto";
    font-size: 20px;
    text-align: left;
    margin: 20px 0 0;
    text-indent: 0;
    line-height: 160%;
    color: #333399;
    font-weight: bold;
}
.COH2-top {
    font-family: "Roboto";
    font-size: 20px;
    text-align: left;
    margin: 0;
    text-indent: 0;
    line-height: 160%;
    color: #333399;
    font-weight: bold;
}
.COT {
    font-family: "Roboto";
    font-size: 16px;
    text-align: justify;
    margin: 5px 0 0;
    text-indent: 0;
    line-height: 160%;
    color: #333;
}
.COCAP {
    font-family: "Roboto";
    font-size: 16px;
    text-align: left;
    margin: 60px 0 0;
    text-indent: 0;
    line-height: 160%;
    color: #fff;
}
.COCAPPN {
    font-family: "Roboto-Light";
    font-size: 16px;
    text-align: left;
    margin: 0;
    text-indent: 0;
    line-height: 160%;
    color: #fff;
}
.COTX1 {
    font-family: "Roboto-Light";
    font-size: 16px;
    text-align: justify;
    margin: 0;
    text-indent: 0;
    line-height: 160%;
}
.COTX2 {
    font-family: "Roboto-Light";
    font-size: 16px;
    text-align: justify;
    margin: 0;
    text-indent: 15px;
    line-height: 160%;
}
.H1 {
    font-family: "Roboto-Light";
    font-size: 40px;
    text-align: left;
    margin: 0;
    text-indent: 0;
    line-height: 160%;
    color: #333;
}
.H2 {
    font-family: "GenBas";
    font-size: 23px;
    text-align: left;
    margin: 30px 0 0;
    text-indent: 0;
    line-height: 160%;
    color: #1db6ea;
    font-style: italic;
}
.LERN-GUD {
    background-color: #1db6ea;
    padding: 18px;
    margin-left: -15px;
    margin-right: -15px;
    margin-bottom: 40px;
}
.concept {
    background-color: #333399;
    padding: 0;
    margin: 0 -15px;
}
.LG {
    font-family: "Roboto";
    font-size: 16px;
    text-align: justify;
    margin: 15px 0 0;
    text-indent: 0;
    line-height: 160%;
    color: #fff;
}
.LGI {
    font-family: "Roboto";
    font-size: 16px;
    text-align: justify;
    margin: 0;
    text-indent: 0;
    line-height: 160%;
    color: #fff;
}
.TXT1 {
    font-family: "GenBas";
    font-size: 16px;
    text-align: justify;
    margin: 0;
    text-indent: 0;
    line-height: 160%;
}
.TXT {
    font-family: "GenBas";
    font-size: 16px;
    text-align: justify;
    margin: 0;
    text-indent: 15px;
    line-height: 160%;
}
.KT-TXT {
    font-family: "GenBas";
    font-weight: bold;
}
.KT-TXT1 {
    font-family: "Roboto";
    font-weight: bold;
}
.CAP {
    font-family: "Roboto";
    font-size: 16px;
    text-align: left;
    margin: 0 20px;
    text-indent: 0;
    line-height: 160%;
    color: #fff;
}
.CAP1 {
    font-family: "Roboto";
    font-size: 16px;
    text-align: left;
    margin: 18px 20px 15px;
    text-indent: 0;
    line-height: 160%;
    color: #fff;
}
.CCA {
    font-family: "Roboto";
    font-size: 17px;
    text-align: left;
    margin: 0 20px 0 0;
    text-indent: 0;
    line-height: 160%;
    color: #fff;
}
.CCL {
    font-family: "Roboto";
    font-size: 15px;
    text-align: left;
    margin: 10px 20px 0 -20px;
    text-indent: 0;
    line-height: 150%;
    color: #1db6ea;
}
.CCL li {
    font-family: "Roboto";
    font-size: 15px;
    text-align: left;
    margin: 10px 0 0;
    text-indent: 0;
    line-height: 150%;
    color: #1db6ea;
}
.fig {
    background-color: #333399;
    padding-bottom: 15px;
    margin-bottom: 30px;
}
.H3 {
    font-family: "Roboto-Black";
    font-size: 18px;
    text-align: left;
    margin: 30px 0 5px;
    text-indent: 0;
    line-height: 160%;
    letter-spacing: 1px;
}
.TXTH4 {
    font-family: "GenBas";
    font-size: 16px;
    text-align: justify;
    margin: 20px 0 0;
    text-indent: 0;
    line-height: 160%;
}
.FIGB {
    background-color: #e6e6e6;
    padding: 30px;
    margin-top: 40px;
    margin-bottom: 40px;
    margin-left: 0;
}
.FN {
    font-family: "Roboto";
    font-size: 16px;
    text-align: left;
    margin: 0;
    text-indent: 0;
    line-height: 160%;
    letter-spacing: 1px;
    font-weight: bold;
}
.FT {
    font-family: "Roboto-Light";
    font-size: 27px;
    text-align: left;
    margin: 5px 0 0;
    text-indent: 0;
    line-height: 160%;
}
.FCAP {
    font-family: "Roboto-Light";
    font-size: 16px;
    text-align: left;
    margin: 5px 0 0;
    text-indent: 0;
    line-height: 160%;
}
.MAPFN {
    font-family: "Roboto-Light";
    font-size: 13px;
    text-align: left;
    margin: 5px 0 0;
    text-indent: 0;
    line-height: 160%;
    font-style: italic;
    color: #333;
}
.MAPS {
    font-family: "Roboto-Light";
    font-size: 13px;
    text-align: left;
    margin: 0;
    text-indent: 0;
    line-height: 160%;
}
.FFN {
    font-family: "Roboto-Light";
    font-size: 13px;
    text-align: left;
    margin: 5px 0 0;
    text-indent: 0;
    line-height: 160%;
    font-style: italic;
    color: #333;
}
.FSN {
    font-family: "Roboto-Light";
    font-size: 13px;
    text-align: left;
    margin: 0;
    text-indent: 0;
    line-height: 160%;
}
.TN {
    font-family: "Roboto";
    font-size: 16px;
    text-align: left;
    margin: 0;
    text-indent: 0;
    line-height: 160%;
    letter-spacing: 1px;
    font-weight: bold;
}
.TT {
    font-family: "Roboto-Light";
    font-size: 27px;
    text-align: left;
    margin: 5px 0 0;
    text-indent: 0;
    line-height: 160%;
}
.FLL {
    float: left;
    width: 60%;
    margin: 10px 30px 10px 0;
}
/*Big Picture*/
/*div.BIGP
{
border:5px solid #f6f6f6;
padding:0px;
margin:0;
}*/
div.BIGP1 {
    width: 32%;
    float: left;
}
div.BIGP2 {
    width: 68%;
    float: left;
    vertical-align: top;
}
.ch13_WI {
    width: 515px;
    height: 1098px;
    background-size: 515px;
    margin: 0 0 20px;
    /*background-color:#323369;*/
    background-image: url('../images/Ch2-BPa.png');
    background-repeat: no-repeat;
    position: relative;
}
.TXTB1 {
    position: absolute;
}
.TXTB {
    position: relative;
}
.ch13_WI-1 {
    width: 234px;
    height: 1098px;
    background-size: 234px;
    margin: 0 0 20px;
    background-image: url('../images/Ch2-BP1a.png');
    background-repeat: no-repeat;
}
.BIG-T {
    font-family: "Roboto";
    text-align: right;
    font-size: 21.5px;
    margin: 0;
    padding: 10px 10px 10px 5px;
    color: #fff;
    line-height: 120%;
    background-color: #f27c60;
    height: 120px;
    width: 100%;
    border-collapse: collapse;
    white-space: normal;
}
.BIG-P {
    font-family: "Roboto";
    text-align: right;
    font-size: 21.5px;
    margin: -50px 0 0;
    padding: 10px 10px 10px 5px;
    color: #fff;
    line-height: 120%;
    background-color: #b2267b;
    height: 380px;
    width: 100%;
    border-collapse: collapse;
    white-space: normal;
}
.BIG-B {
    font-family: "Roboto";
    text-align: right;
    font-size: 21.5px;
    margin: 0;
    padding: 15px 10px 10px 5px;
    color: #fff;
    line-height: 120%;
    background-color: #333399;
    height: 115px;
    width: 100%;
    border-collapse: collapse;
    white-space: normal;
}
.normal {
    font-family: "Roboto";
    color: #fff;
    font-size: 15px;
    font-weight: normal;
    font-style: normal;
}
.normal1 {
    font-family: "GenBas";
    color: #333;
    font-size: 15px;
    font-weight: normal;
    font-style: normal;
}
.EXT {
    font-family: "GenBas";
    font-size: 16px;
    text-align: justify;
    margin: 0;
    text-indent: 0;
    line-height: 160%;
}
.TAB {
    border-top: solid 2px #000;
    border-bottom: solid 2px #000;
    background-color: #fff;
}
.border-bottom {
    vertical-align: top;
    border-bottom: dotted 0;
    padding: 5px 0;
}
.border-bottom1 {
    vertical-align: top;
    border-bottom: solid 2px #e7e7e7;
    padding: 5px 0;
}
.border-bottom2 {
    vertical-align: top;
    border-bottom: dotted 2px #e7e7e7;
    padding: 5px 0;
}
.border-bottom1right {
    vertical-align: top;
    border-bottom: solid 2px #e7e7e7;
    border-left: dotted 2px #e7e7e7;
    padding: 5px 0;
    vertical-align: top;
}
.border-bottom1right1 {
    vertical-align: top;
    border-bottom: dotted 2px #e7e7e7;
    border-left: dotted 2px #e7e7e7;
    padding: 5px 0;
    vertical-align: top;
}
.TCH4 {
    font-family: "Roboto";
    font-size: 16px;
    text-align: left;
    margin: 5px 5px 0 10px;
    text-indent: 0;
    line-height: 160%;
    color: #1db6ea;
}
.TRN {
    font-family: "Roboto";
    font-size: 16px;
    text-align: left;
    margin: 5px 5px 0 10px;
    text-indent: 0;
    line-height: 160%;
    color: #1db6ea;
}
.T-TXT {
    font-family: "Roboto-Light";
    font-size: 16px;
    text-align: left;
    margin: 5px 5px 0 10px;
    text-indent: 0;
    line-height: 160%;
}
.DIG {
    background-color: #8dd3dc;
    padding: 0 20px;
}
.SAT {
    background-color: #e6e6e6;
    padding: 0 20px;
}
.BXB {
    background-color: #000;
    margin: 0 -20px;
    padding: 15px 20px 0 0;
}
.DLH {
    font-family: "Roboto";
    font-size: 22px;
    text-align: left;
    margin: 0;
    text-indent: 0;
    line-height: 160%;
    color: #ffffff;
    padding: 5px 0 15px 15px;
}
.BT {
    font-family: "GenBas";
    font-size: 25px;
    text-align: left;
    margin: 0;
    text-indent: 0;
    line-height: 160%;
    font-weight: bold;
    color: #1db6ea;
    padding: 5px 0 15px 15px;
}
.HIDE {
    font-family: "Roboto";
    font-size: 13px;
    text-align: center;
    margin: 0;
    text-indent: 0;
    line-height: 160%;
    color: #1db6ea;
    border: solid 1px #1db6ea;
    padding: 3px 20px;
    cursor: pointer;
}
.DLT {
    font-family: "Roboto";
    font-size: 24px;
    text-align: left;
    margin: 40px 0 20px;
    text-indent: 0;
    line-height: 160%;
    font-weight: bold;
}
.DLTXT1 {
    font-family: "Roboto";
    font-size: 16px;
    text-align: justify;
    margin: 0;
    text-indent: 0;
    line-height: 160%;
}
.DLTXT {
    font-family: "Roboto";
    font-size: 16px;
    text-align: justify;
    margin: 0;
    text-indent: 15px;
    line-height: 160%;
}
.DLCAP {
    font-family: "Roboto";
    font-size: 16px;
    text-align: left;
    margin: 0 0 0 20px;
    text-indent: 0;
    line-height: 160%;
    font-style: italic;
}
.DLCAP_P {
    font-family: "Roboto";
    font-size: 16px;
    text-align: left;
    margin: 0 0 0 20px;
    padding: 0 0 0 20px;
    text-indent: 0;
    line-height: 160%;
    font-style: italic;
    background-color: red;
}
.TX1_P {
    font-family: "GenBas";
    font-size: 16px;
    text-align: justify;
    margin: 0;
    text-indent: 0;
    line-height: 160%;
}
.BXT {
    background-color: #e6e6e6;
    margin: 30px -20px 40px;
}
.TCH {
    font-family: "Roboto";
    font-size: 16px;
    text-align: justify;
    margin: 0 0 0 10px;
    text-indent: 0;
    line-height: 160%;
    color: #fff;
}
thead td {
    background-color: #1db6ea;
}
.BXTX1 {
    font-family: "Roboto";
    font-size: 16px;
    text-align: justify;
    margin: 30px 0 0;
    text-indent: 0;
    line-height: 160%;
}
.BXTX {
    font-family: "Roboto";
    font-size: 16px;
    text-align: justify;
    margin: 0;
    text-indent: 15px;
    line-height: 160%;
}
.blue {
    color: #1db6ea;
}
.BGW {
    background-color: #fff;
    padding: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.Page24-t1l1 {
    position: absolute;
    font-family: "Roboto-Light";
    text-align: left;
    font-size: 21px;
    font-weight: normal;
    margin: 166px 0 0 72px;
    text-indent: 0;
    margin-bottom: 0;
    line-height: 16px;
    color: #fff;
    letter-space: 1px;
}
.Page24-t2l1 {
    position: absolute;
    font-family: "Roboto-Light";
    text-align: right;
    font-size: 21px;
    font-weight: normal;
    margin: 266px 0 0 79px;
    text-indent: 0;
    margin-bottom: 0;
    line-height: 26px;
    color: #fff;
    letter-space: 1px;
}
.Page24-t3l1 {
    position: absolute;
    font-family: "Roboto-Light";
    text-align: right;
    font-size: 21px;
    font-weight: normal;
    margin: 570px 0 0 72px;
    text-indent: 0;
    margin-bottom: 0;
    line-height: 25px;
    color: #fff;
    letter-space: 1px;
}
.Page24-t4l1 {
    position: absolute;
    font-family: "Roboto-Light";
    text-align: right;
    font-size: 21px;
    font-weight: normal;
    margin: 680px 0 0 72px;
    text-indent: 0;
    margin-bottom: 0;
    line-height: 25px;
    color: #fff;
    letter-space: 1px;
}
.Page24-t5l1 {
    position: absolute;
    font-family: "Roboto-Light";
    text-align: right;
    font-size: 21px;
    font-weight: normal;
    margin: 950px 0 0 88px;
    text-indent: 0;
    margin-bottom: 0;
    line-height: 25px;
    color: #fff;
    letter-space: 1px;
}
.Page24-tc {
    position: absolute;
    font-family: "Roboto-Light";
    text-align: left;
    font-size: 13px;
    font-weight: normal;
    margin: 90px 0 0 187px;
    text-indent: 0;
    margin-bottom: 0;
    line-height: 19px;
    color: #333;
    letter-spacing: 0.40px;
}
.Page24-t1l2 {
    position: absolute;
    font-family: "Roboto-Light";
    text-align: left;
    font-size: 13px;
    font-weight: normal;
    margin: 168px 0 0 27px;
    text-indent: 0;
    margin-bottom: 0;
    line-height: 17px;
    color: #333;
    letter-spacing: -.30px;
}
.Page24-t1l3 {
    position: absolute;
    font-family: "Roboto-Light";
    text-align: left;
    font-size: 13px;
    font-weight: normal;
    margin: 176px 0 0 187px;
    text-indent: 0;
    margin-bottom: 0;
    line-height: 17px;
    color: #333;
    letter-spacing: -.30px;
}
.Page24-t1l4 {
    position: absolute;
    font-family: "Roboto-Light";
    text-align: left;
    font-size: 13px;
    font-weight: normal;
    margin: 167px 0 0 317px;
    text-indent: 0;
    margin-bottom: 0;
    line-height: 17px;
    color: #333;
    letter-spacing: -.30px;
}
.Page24-t2l2 {
    position: absolute;
    font-family: "Roboto-Light";
    text-align: left;
    font-size: 13px;
    font-weight: normal;
    margin: 270px 0 0 27px;
    text-indent: 0;
    margin-bottom: 0;
    line-height: 17px;
    color: #333;
    letter-spacing: -.30px;
}
.Page24-t3l2 {
    position: absolute;
    font-family: "Roboto-Light";
    text-align: left;
    font-size: 13px;
    font-weight: normal;
    margin: 270px 0 0 187px;
    text-indent: 0;
    margin-bottom: 0;
    line-height: 17px;
    color: #333;
    letter-spacing: -.30px;
}
.Page24-t3l3 {
    position: absolute;
    font-family: "Roboto-Light";
    text-align: left;
    font-size: 13px;
    font-weight: normal;
    margin: 167px 0 0 317px;
    text-indent: 0;
    margin-bottom: 0;
    line-height: 17px;
    color: #333;
    letter-spacing: -.30px;
}
.Page24-t3l4 {
    position: absolute;
    font-family: "Roboto-Light";
    text-align: left;
    font-size: 13px;
    font-weight: normal;
    margin: 270px 0 0 317px;
    text-indent: 0;
    margin-bottom: 0;
    line-height: 18px;
    color: #333;
    letter-spacing: -.30px;
}
.Page24-t4l2 {
    position: absolute;
    font-family: "Roboto-Light";
    text-align: left;
    font-size: 13px;
    font-weight: normal;
    margin: 574px 0 0 27px;
    text-indent: 0;
    margin-bottom: 0;
    line-height: 17px;
    color: #333;
    letter-spacing: -.30px;
}
.Page24-t4l3 {
    position: absolute;
    font-family: "Roboto-Light";
    text-align: left;
    font-size: 13px;
    font-weight: normal;
    margin: 574px 0 0 187px;
    text-indent: 0;
    margin-bottom: 0;
    line-height: 17px;
    color: #333;
    letter-spacing: -.30px;
}
.Page24-t4l4 {
    position: absolute;
    font-family: "Roboto-Light";
    text-align: left;
    font-size: 13px;
    font-weight: normal;
    margin: 574px 0 0 317px;
    text-indent: 0;
    margin-bottom: 0;
    line-height: 18px;
    color: #333;
    letter-spacing: -.30px;
}
.Page24-t5l2 {
    position: absolute;
    font-family: "Roboto-Light";
    text-align: left;
    font-size: 13px;
    font-weight: normal;
    margin: 681px 0 0 27px;
    text-indent: 0;
    margin-bottom: 0;
    line-height: 17px;
    color: #333;
    letter-spacing: -.30px;
}
.Page24-t5l3 {
    position: absolute;
    font-family: "Roboto-Light";
    text-align: left;
    font-size: 13px;
    font-weight: normal;
    margin: 681px 0 0 187px;
    text-indent: 0;
    margin-bottom: 0;
    line-height: 17px;
    color: #333;
    letter-spacing: -.30px;
}
.Page24-t5l4 {
    position: absolute;
    font-family: "Roboto-Light";
    text-align: left;
    font-size: 13px;
    font-weight: normal;
    margin: 681px 0 0 317px;
    text-indent: 0;
    margin-bottom: 0;
    line-height: 18px;
    color: #333;
    letter-spacing: -.30px;
}
.Page24-t6l2 {
    position: absolute;
    font-family: "Roboto-Light";
    text-align: left;
    font-size: 13px;
    font-weight: normal;
    margin: 952px 0 0 27px;
    text-indent: 0;
    margin-bottom: 0;
    line-height: 17px;
    color: #333;
    letter-spacing: -.30px;
}
.Page24-t6l3 {
    position: absolute;
    font-family: "Roboto-Light";
    text-align: left;
    font-size: 13px;
    font-weight: normal;
    margin: 951px 0 0 187px;
    text-indent: 0;
    margin-bottom: 0;
    line-height: 17px;
    color: #333;
    letter-spacing: -.30px;
}
.Page24-t6l4 {
    position: absolute;
    font-family: "Roboto-Light";
    text-align: left;
    font-size: 13px;
    font-weight: normal;
    margin: 951px 0 0 317px;
    text-indent: 0;
    margin-bottom: 0;
    line-height: 18px;
    color: #333;
    letter-spacing: -.30px;
}
.Page24-t0l1 {
    position: absolute;
    font-family: "Roboto-Medium";
    text-align: left;
    font-size: 17px;
    font-weight: normal;
    margin: 33px 0 0 24px;
    text-indent: 0;
    margin-bottom: 0;
    line-height: 17px;
    color: #333399;
    letter-spacing: -.30px;
}
.Page24-t0l2 {
    position: absolute;
    font-family: "Roboto-Medium";
    text-align: left;
    font-size: 17px;
    font-weight: normal;
    margin: 33px 0 0 185px;
    text-indent: 0;
    margin-bottom: 0;
    line-height: 17px;
    color: #333399;
    letter-spacing: -.30px;
}
.Page24-t0l3 {
    position: absolute;
    font-family: "Roboto-Medium";
    text-align: left;
    font-size: 17px;
    font-weight: normal;
    margin: 33px 0 0 349px;
    text-indent: 0;
    margin-bottom: 0;
    line-height: 17px;
    color: #333399;
    letter-spacing: -.30px;
}
.widen {
    width: 577px;
}
.naTv {
    overflow-x: scroll;
    margin: 0 auto;
    border: 0;
    padding: 0;
    line-height: 1.5em;
    text-align: left;
}
/* Portrait tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1199px) {
    .widen {
        width: 577px;
    }
    div.BIGP1 {
        width: 30%;
        float: left;
    }
    div.BIGP2 {
        width: 60%;
        float: left;
        vertical-align: top;
    }
    .naTv {
        overflow-x: scroll;
        margin: 0 auto;
        border: 0;
        padding: 0;
        line-height: 1.5em;
        text-align: left;
    }
}
/* Portrait tablets and medium desktops Laptop with screen*/
@media (min-width: 800px) and (max-width: 1280px) {
    .widen {
        width: 477px;
        height: 118px;
    }
    .naTv {
        overflow-x: scroll;
        margin: 0 auto;
        border: 0;
        padding: 0;
        line-height: 1.5em;
        text-align: left;
    }
    div.BIGP1 {
        width: 30%;
        float: left;
    }
    div.BIGP2 {
        width: 60%;
        float: left;
        vertical-align: top;
    }
}
/* Portrait tablets and small desktops */
@media (min-width: 768px) and (max-width: 991px) {
    .widen {
        width: 407px;
        height: 118px;
    }
    .naTv {
        overflow-x: scroll;
        margin: 0 auto;
        border: 0;
        padding: 0;
        line-height: 1.5em;
        text-align: left;
    }
    div.BIGP1 {
        width: 40%;
        float: left;
    }
    div.BIGP2 {
        width: 50%;
        float: left;
        vertical-align: top;
    }
}
/* Landscape phones and portrait tablets */
@media (max-width: 767px) {
    .widen {
        width: 347px;
        height: 118px;
    }
    .naTv {
        overflow-x: scroll;
        margin: 0 auto;
        border: 0;
        padding: 0;
        line-height: 1.5em;
        text-align: left;
    }
    div.BIGP1 {
        width: 38%;
        float: left;
    }
    div.BIGP2 {
        width: 52%;
        float: left;
        vertical-align: top;
    }
}
/* Landscape phones and portrait tablets */
@media (max-width: 640px) {
    .widen {
        width: 257px;
        height: 118px;
    }
    .naTv {
        overflow-x: scroll;
        margin: 0 auto;
        border: 0;
        padding: 0;
        line-height: 1.5em;
        text-align: left;
    }
    div.BIGP1 {
        width: 43%;
        float: left;
    }
    div.BIGP2 {
        width: 47%;
        float: left;
        vertical-align: top;
    }
}
/* Landscape phones and portrait tablets */
@media (max-width: 600px) {
    .widen {
        width: 210px;
        height: 118px;
    }
    .naTv {
        overflow-x: scroll;
        margin: 0 auto;
        border: 0;
        padding: 0;
        line-height: 1.5em;
        text-align: left;
    }
    div.BIGP1 {
        width: 55%;
        float: left;
    }
    div.BIGP2 {
        width: 35%;
        float: left;
        vertical-align: top;
    }
}
/* Portrait phones and smaller */
@media (max-width: 480px) {
    div.BIGP1 {
        width: 68%;
        float: left;
    }
    div.BIGP2 {
        width: 22%;
        float: left;
        vertical-align: top;
    }
    .widen {
        width: 210px;
        height: 118px;
    }
    .naTv {
        overflow-x: scroll;
        margin: 0 auto;
        border: 0;
        padding: 0;
        line-height: 1.5em;
        text-align: left;
    }
}
/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
@media only screen and (max-width: 479px) {
    div.BIGP1 {
        width: 80%;
        float: left;
    }
    div.BIGP2 {
        width: 10%;
        float: left;
        vertical-align: top;
    }
    .naTv {
        overflow-x: scroll;
        margin: 0 auto;
        border: 0;
        padding: 0;
        line-height: 1.5em;
        text-align: left;
    }
}
/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
@media only screen and (max-width: 400px) {
    .naTv {
        overflow-x: scroll;
        margin: 0 auto;
        border: 0;
        padding: 0;
        line-height: 1.5em;
        text-align: left;
    }
}
/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
@media only screen and (max-width: 414px) {
    .naTv {
        overflow-x: scroll;
        margin: 0 auto;
        border: 0;
        padding: 0;
        line-height: 1.5em;
        text-align: left;
    }
    div.BIGP1 {
        width: 65%;
        float: left;
    }
    div.BIGP2 {
        width: 15%;
        float: left;
        vertical-align: top;
    }
}
/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
@media only screen and (max-width: 375px) {
    .naTv {
        overflow-x: scroll;
        margin: 0 auto;
        border: 0;
        padding: 0;
        line-height: 1.5em;
        text-align: left;
    }
    div.BIGP1 {
        width: 74%;
        float: left;
    }
    div.BIGP2 {
        width: 16%;
        float: left;
        vertical-align: top;
    }
}
/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
@media only screen and (max-width: 360px) {
    .naTv {
        overflow-x: scroll;
        margin: 0 auto;
        border: 0;
        padding: 0;
        line-height: 1.5em;
        text-align: left;
    }
}
/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
@media only screen and (max-width: 320px) {
    .naTv {
        overflow-x: scroll;
        margin: 0 auto;
        border: 0;
        padding: 0;
        line-height: 1.5em;
        text-align: left;
    }
    div.BIGP1 {
        width: 86%;
        float: left;
    }
    div.BIGP2 {
        width: 4%;
        float: left;
        vertical-align: top;
    }
}

.btn-hide {
    display: block;
    text-decoration: none;
    &:hover, &:focus {
        color: inherit;
        text-decoration: none;
    }
    .glyphicons {
        color: #1db6ea;
    }
}

.keyterm {
    font-family: "GenBas";
    font-weight: bold;
}

.popover {
    text-indent: 0;
}
