@import 'https://fonts.googleapis.com/css?family=Arvo:400,700|PT+Serif|Roboto+Slab:300|Roboto:900|Source+Sans+Pro:400,700';

$font-family-sans-serif:  "Source Sans Pro", Helvetica, Arial, sans-serif;
$font-family-serif:       "Arvo", "Times New Roman", Times, serif;
$font-family-base:        $font-family-serif;
$headings-font-family:    $font-family-sans-serif;

$brand-primary: #3777bc;
$key-width-lg: 2rem;
$key-width-sm: 1.5rem;

$color-a-lit:    #8CCBD6;
$color-r-sit:    #EF9E8C;
$color-genre:    #63C394;
$color-process:  #848EC6;
$color-strat:    #F7925A;
$color-research: #4AA6DE;
$color-media-d:  #FFC34A;
$color-readings: #8CC75A;
$color-hand-a:   #FFF342;
$color-hand-b:   #C6DFE7;

// Import bootstrap variables for use below
@import "vendor/bootstrap/bootstrap-variables";

h2 {
  font-size: 1.7rem;
}

h3 {
  font-size: 1.5rem;
}

p {
  text-align: justify;
  margin-bottom: $line-height-computed * .75;
}

blockquote {
  font-family: $font-family-sans-serif;
  font-size: 1.5rem;
}

.left-key {
  font-size: 1rem;
  position: fixed;
  padding-left: 0;
  @media (min-width: $screen-sm) {
    padding-left: 5px;
  }
  @media (min-width: $screen-md) {
    padding-left: 42px;
  }
  @media (min-width: $screen-lg) {
    padding-left: 75px;
  }
}

.key-item {
  list-style: none;
  margin: 1rem 0 1rem $key-width-lg;
  position: relative;
  a {
    display: block;
    height: 3rem;
    line-height: 3rem;
  }
}

.key-icon {
  display: inline-block;
  float: left;
  font-size: $key-width-lg;
  margin-right: 0.5rem;
  position: relative;
  height: 3rem;
  width: $key-width-lg;
  &:before {
    content: " ";
    position: absolute;
  }

  &--asterisk {
    color: $color-a-lit;
    font-family: 'Glyphicons Regular';
    &:before {
      content: "\E249";
    }
  }

  &--square {
    &:before {
      background-color: $color-r-sit;
      height: $key-width-lg / 1.5;
      width: $key-width-lg / 1.5;
      top: calc(50% - #{$key-width-lg} / 3);
      left: calc(50% - #{$key-width-lg} / 3);
    }
  }

  &--triangle {
    &:before {
      border-left: ($key-width-sm / 2) solid transparent;
      border-right: ($key-width-sm / 2) solid transparent;
      border-bottom: $key-width-sm solid $color-genre;
      top: calc(50% - #{$key-width-sm} / 2);
      left: calc(50% - #{$key-width-sm} / 2);
    }
  }

  &--halo {
    &:before {
      border: 3px solid $color-process;
      border-radius: 50%;
      height: $key-width-sm;
      width: $key-width-sm;
      top: calc(50% - #{$key-width-sm} / 2);
      left: calc(50% - #{$key-width-sm} / 2);
    }
  }

  &--diamond {
    &:before {
      background-color: $color-strat;
      height: $key-width-lg / 2;
      width: $key-width-lg / 2;
      top: calc(50% - #{$key-width-lg} / 4);
      left: calc(50% - #{$key-width-lg} / 4);
      transform: rotate(45deg);
    }
  }

  &--circle {
    &:before {
      background-color: $color-research;
      border-radius: 50%;
      height: $key-width-sm;
      width: $key-width-sm;
      top: calc(50% - #{$key-width-sm} / 2);
      left: calc(50% - #{$key-width-sm} / 2);
    }
  }

  &--box {
    &:before {
      border: 3px solid $color-media-d;
      height: $key-width-sm;
      width: $key-width-sm;
      top: calc(50% - #{$key-width-sm} / 2);
      left: calc(50% - #{$key-width-sm} / 2);
    }
  }

  &--hourglass {
  	&:before {
      border-bottom: $key-width-sm solid $color-readings;
    	border-left: ($key-width-sm / 2) solid transparent;
    	border-right: ($key-width-sm / 2) solid transparent;
    	width: $key-width-sm;
      top: calc(50% - #{$key-width-sm} / 2);
      left: calc(50% - #{$key-width-sm} / 2);
    }
    &:after {
      content: " ";
      position: absolute;
      border-top: $key-width-sm solid $color-readings;
    	border-left: ($key-width-sm / 2) solid transparent;
    	border-right: ($key-width-sm / 2) solid transparent;
    	width: $key-width-sm;
      top: calc(50% - #{$key-width-sm} / 2);
      left: calc(50% - #{$key-width-sm} / 2);
    }
  }

  &--chevron {
    color: $color-hand-a;
    font-family: 'Glyphicons Regular';
    &:before {
      content: "\E601";
      font-size: ($key-width-lg / 2);
      line-height: 1;
      top: calc(50% - #{$key-width-lg} / 4);
      left: calc(50% - #{$key-width-lg} / 4);
    }
    &:after {
      content: " ";
      position: absolute;
      background-color: $color-hand-b;
      height: $key-width-lg / 1.5;
      width: $key-width-lg / 1.5;
      top: calc(50% - #{$key-width-lg} / 3);
      left: calc(50% - #{$key-width-lg} / 3);
      z-index: -1;
    }
  }
}

.key-name {
  display: none;
  line-height: normal;
  max-width: 50px;
  vertical-align: middle;
}

@media (min-width: $screen-sm) {
  .key-name {
    display: inline-block;
  }
}

.glyphicons-asterisk {
  color: $color-a-lit;
}

.ui-content {
  padding: 1em;
}

// h1
.CT {
  font-family: "Roboto Slab", serif;
  // font-size: 40px;
  text-align: right;
  margin: 10px 0 70px 0;
}

// h1 ordinal
.CN {
  font-family: "Roboto", serif;
}

// h2 & h3
.A, .AB, .B {
  color: $brand-primary;
  font-weight: bold;
  letter-spacing: 0.60px;
}

// inline h3
.AB {
  display: inline;
  float: left;
  line-height: $line-height-computed;
  margin: 0;
  padding-right: 1rem;
}

// key opener
.COI {
  font-size: 4rem;
  text-align: right;
  .glyphicons {
    border: 2px solid $gray-dark;
  }
}

.keyterm {
  color: inherit;
  font-size: 1.2rem;
  font-weight: bold;
  padding: 1px;
  text-decoration: none;
  text-transform: uppercase;
  &:hover, &:focus {
    color: inherit;
    text-decoration: none;
  }
  &--genre {
    background-color: lighten($color-genre, 5%);
  }
  &--strategies {
    background-color: lighten($color-strat, 5%);
  }
  dfn {
    font-style: normal;
  }
}

.popover {
  &.genre {
    border-left: 6px solid lighten($color-genre, 5%);
  }
  &.strategies {
    border-left: 6px solid lighten($color-strat, 5%);
  }
}

.term {
  font-family: $font-family-sans-serif;
  .popover-title {
    font-family: "Roboto", serif;
  }
}

.BLA {
  li {
    margin-bottom: 0.5rem;
  }
}

// table of contents
body {
  position: relative;
}

.table-of-contents {
  font-size: 1.2rem;
  padding: 1em;
  position: relative;
  ul {
    list-style-type: none;
  }

  .nest-contents {
    position: fixed;
    &__item {
      padding-left: calc(2rem - 2px);
      &.active {
        &>.nest-contents__link {
          border-left-color: $brand-primary;
        }
      }
    }
    &__link {
      border-left: 3px solid transparent;
    }
  }
}
