// scss-lint:disable ImportantRule

////
/// @author Evan Yamanishi
////

/// A part map should be used when element colors are keyed to a large book division (part)
/// @group Book
/// @type Map
$parts: (
    1: #ffeb2c,
    2: #c3d34e,
    3: #11ccfa
);

/// Font-smoothing dpi specifies the break-point for when font smoothing should be enabled.
///
/// @group Typography
/// @type String
$font-smoothing: 175dpi;

/// Animation timings for common transition types
/// @group Animation
/// @type Map
/// @link https://material.google.com/motion/duration-easing.html#duration-easing-common-durations
$motion-duration: (
    enter: 225ms,
    exit: 195ms,
    collapse: 350ms,    // bootstrap's Collapse.TRANSITION_DURATION
    complex: 375ms
);

// https://material.google.com/motion/duration-easing.html#duration-easing-natural-easing-curves
$motion-timing: (
    standard: cubic-bezier(.4, 0, .2, 1),
    enter: cubic-bezier(0, 0, .2, 1),
    exit: cubic-bezier(.4, 0, 1, 1),
    sharp: cubic-bezier(.4, 0, .6, 1)
);
$transition-enter: all map-get($motion-timing, enter) map-get($motion-duration, enter);
$transition-exit: all map-get($motion-timing, exit) map-get($motion-duration, exit);

// used on :target events to highlight the block
@keyframes highlight {
    from,
    to {
        background-color: inherit;
    }

    50% {
        background-color: $brand-info;
    }
}

// photoswipe-ui custom variables
$pswp-root: "pswp";
$btn-size: 44px;

// modals
$modal-shadow: 0 2px 4px rgba($gray-base, .15), 0 0 0 1px rgba($gray-base, .03);
