$gallery-root: 'pswp-gallery';

.#{$gallery-root} {
    display: flex;
    flex-flow: row wrap;

    &__title {
        font-size: 2rem;
        margin-bottom: $grid-gutter-width / 4;
        width: 100%;
    }

    &__figure {
        flex-grow: 1;
        margin-bottom: $grid-gutter-width / 2;
        margin-right: $grid-gutter-width / 2;
        width: calc(100% / 4);
    }

    &__thumbnail {
        height: auto;
        width: 100%;
    }
}
