.heading-link {
    a {
        color: inherit;
        position: relative;
        text-decoration: none;

        &::after {
            @include icon($content: "#", $font-family: inherit);
            margin-left: $grid-gutter-width / 4;
            cursor: pointer;
            z-index: 1;
        }

        @media (min-width: $screen-sm-min) {
            &:focus,
            &:hover {
                color: inherit;
                text-decoration: none;
                &::after {
                    display: inline;
                }
            }

            &::after {
                display: none;
                left: -1em;
                margin-left: 0;
                position: absolute;
            }
        }
    }
}

[id]:target {
    animation: highlight (duration(complex) * 4) timing(enter);
}
