%link-icon {
    content: '\E051';
    cursor: pointer;
    font-family: 'Glyphicons Regular';
    font-weight: normal;
    vertical-align: middle;
    width: 1.2em;
    z-index: 1;
}

.heading-link {
    a {
        color: inherit;
        position: relative;
        text-decoration: none;

        &::after {
            @extend %link-icon;
            padding-left: .2em;
        }

        @media (min-width: $screen-sm-min) {
            &:focus,
            &:hover {
                color: inherit;
                text-decoration: none;
                &::after {
                    display: inline;
                }
            }

            &::after {
                display: none;
                left: -1.2em;
                position: absolute;
            }
        }
    }
}

[id]:target {
    animation: highlight (duration(complex) * 4) timing(enter);
}
